In [1]:
#version 2 sparce-all-rts-cal-fl.csv create
import pandas as pd

In [2]:
df=pd.read_csv("../input/calfl-reverse-as-well-non-sparce/cl-flwithFC.csv")
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,ItinID,MktID,MktCoupons,Year,Quarter,OriginAirportID,...,Passengers,MktFare,MktDistance,MktDistanceGroup,MktMilesFlown,NonStopMiles,ItinGeoType,MktGeoType,Unnamed: 41,FareClass
0,0,0,0,1050,2.018177e+10,2.018177e+12,3,2018,1,12892,...,1.0,1338.27,2399.0,5,2290.0,2343.0,2,2,NaN,NaN
1,1,0,0,1050,2.018177e+10,2.018177e+12,3,2018,1,12892,...,1.0,1338.27,2399.0,5,2290.0,2343.0,2,2,NaN,D
2,2,0,0,1050,2.018177e+10,2.018177e+12,3,2018,1,12892,...,1.0,1338.27,2399.0,5,2290.0,2343.0,2,2,NaN,D
3,3,0,0,1050,2.018177e+10,2.018177e+12,3,2018,1,12892,...,1.0,1338.27,2399.0,5,2290.0,2343.0,2,2,NaN,D
4,4,1,1,1389,2.018177e+10,2.018177e+12,1,2018,1,14893,...,1.0,66.47,373.0,1,373.0,373.0,2,2,NaN,X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4611550,4611550,264985,64401,2631169,2.020319e+11,2.020319e+13,1,2020,3,15304,...,1.0,153.00,204.0,1,204.0,204.0,2,2,NaN,X
4611551,4611551,264986,64402,2631170,2.020319e+11,2.020319e+13,1,2020,3,13303,...,1.0,168.00,204.0,1,204.0,204.0,2,2,NaN,X
4611552,4611552,264986,64402,2631170,2.020319e+11,2.020319e+13,1,2020,3,13303,...,1.0,168.00,204.0,1,204.0,204.0,2,2,NaN,X
4611553,4611553,264987,64403,2631171,2.020319e+11,2.020319e+13,1,2020,3,15304,...,1.0,168.00,204.0,1,204.0,204.0,2,2,NaN,X
4611554,4611554,264987,64403,2631171,2.020319e+11,2.020319e+13,1,2020,3,15304,...,1.0,168.00,204.0,1,204.0,204.0,2,2,NaN,X

In [3]:
import numpy as np

In [4]:
df['Pandemic']=np.where(np.logical_and(df['Year']==2020 , np.logical_or(df['Quarter']==2,df['Quarter']==3)), 1, 0)

In [5]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'Unnamed: 0.1.1.1',
       'ItinID', 'MktID', 'MktCoupons', 'Year', 'Quarter', 'OriginAirportID',
       'OriginAirportSeqID', 'OriginCityMarketID', 'Origin', 'OriginCountry',
       'OriginStateFips', 'OriginState', 'OriginStateName', 'OriginWac',
       'DestAirportID', 'DestAirportSeqID', 'DestCityMarketID', 'Dest',
       'DestCountry', 'DestStateFips', 'DestState', 'DestStateName', 'DestWac',
       'AirportGroup', 'WacGroup', 'TkCarrierChange', 'TkCarrierGroup',
       'OpCarrierChange', 'OpCarrierGroup', 'RPCarrier', 'TkCarrier',
       'OpCarrier', 'BulkFare', 'Passengers', 'MktFare', 'MktDistance',
       'MktDistanceGroup', 'MktMilesFlown', 'NonStopMiles', 'ItinGeoType',
       'MktGeoType', 'Unnamed: 41', 'FareClass', 'Pandemic'],
      dtype='object')

In [6]:
df["route"]=df['Origin']+"-"+df['Dest']

In [7]:
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,ItinID,MktID,MktCoupons,Year,Quarter,OriginAirportID,...,MktDistance,MktDistanceGroup,MktMilesFlown,NonStopMiles,ItinGeoType,MktGeoType,Unnamed: 41,FareClass,Pandemic,route
0,0,0,0,1050,2.018177e+10,2.018177e+12,3,2018,1,12892,...,2399.0,5,2290.0,2343.0,2,2,NaN,NaN,0,LAX-FLL
1,1,0,0,1050,2.018177e+10,2.018177e+12,3,2018,1,12892,...,2399.0,5,2290.0,2343.0,2,2,NaN,D,0,LAX-FLL
2,2,0,0,1050,2.018177e+10,2.018177e+12,3,2018,1,12892,...,2399.0,5,2290.0,2343.0,2,2,NaN,D,0,LAX-FLL
3,3,0,0,1050,2.018177e+10,2.018177e+12,3,2018,1,12892,...,2399.0,5,2290.0,2343.0,2,2,NaN,D,0,LAX-FLL
4,4,1,1,1389,2.018177e+10,2.018177e+12,1,2018,1,14893,...,373.0,1,373.0,373.0,2,2,NaN,X,0,SMF-LAX
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4611550,4611550,264985,64401,2631169,2.020319e+11,2.020319e+13,1,2020,3,15304,...,204.0,1,204.0,204.0,2,2,NaN,X,1,TPA-MIA
4611551,4611551,264986,64402,2631170,2.020319e+11,2.020319e+13,1,2020,3,13303,...,204.0,1,204.0,204.0,2,2,NaN,X,1,MIA-TPA
4611552,4611552,264986,64402,2631170,2.020319e+11,2.020319e+13,1,2020,3,13303,...,204.0,1,204.0,204.0,2,2,NaN,X,1,MIA-TPA
4611553,4611553,264987,64403,2631171,2.020319e+11,2.020319e+13,1,2020,3,15304,...,204.0,1,204.0,204.0,2,2,NaN,X,1,TPA-MIA
4611554,4611554,264987,64403,2631171,2.020319e+11,2.020319e+13,1,2020,3,15304,...,204.0,1,204.0,204.0,2,2,NaN,X,1,TPA-MIA

In [8]:
df["route"].value_counts()

LAX-SFO    110821
SFO-LAX    109955
LAX-MCO    103128
MCO-LAX    101071
FLL-LAX     70205
            ...
SCK-VPS         2
ONT-MCE         2
TPA-MCO         2
MCO-JAX         1
JAX-MCO         1
Name: route, Length: 1026, dtype: int64

In [9]:
v = df["route"].value_counts()
df.shape

(4611555, 49)

In [10]:
df=df[df.route.isin(v.index[v.gt(10016)])]

In [11]:
df.shape

(3394381, 49)

In [12]:
df["route"].value_counts()

LAX-SFO    110821
SFO-LAX    109955
LAX-MCO    103128
MCO-LAX    101071
FLL-LAX     70205
            ...
SNA-FLL     10546
LAX-PNS     10545
MIA-TPA     10441
PNS-LAX     10334
FLL-JAX     10310
Name: route, Length: 119, dtype: int64

In [13]:
#a = df1['route'].unique()

In [14]:
#grps=df1.groupby('route')

In [15]:
#for i in a:
 #   df2=grps.get_group(i)
  #  print(i," ",df2.shape)
   # df2.to_csv(i+".csv")

In [16]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'Unnamed: 0.1.1.1',
       'ItinID', 'MktID', 'MktCoupons', 'Year', 'Quarter', 'OriginAirportID',
       'OriginAirportSeqID', 'OriginCityMarketID', 'Origin', 'OriginCountry',
       'OriginStateFips', 'OriginState', 'OriginStateName', 'OriginWac',
       'DestAirportID', 'DestAirportSeqID', 'DestCityMarketID', 'Dest',
       'DestCountry', 'DestStateFips', 'DestState', 'DestStateName', 'DestWac',
       'AirportGroup', 'WacGroup', 'TkCarrierChange', 'TkCarrierGroup',
       'OpCarrierChange', 'OpCarrierGroup', 'RPCarrier', 'TkCarrier',
       'OpCarrier', 'BulkFare', 'Passengers', 'MktFare', 'MktDistance',
       'MktDistanceGroup', 'MktMilesFlown', 'NonStopMiles', 'ItinGeoType',
       'MktGeoType', 'Unnamed: 41', 'FareClass', 'Pandemic', 'route'],
      dtype='object')

In [17]:
df=df.drop(['Unnamed: 0', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'Unnamed: 0.1.1.1',
            'ItinID', 'MktID','MktDistance','OriginAirportID',
       'OriginAirportSeqID', 'OriginCityMarketID','OriginCountry',
       'OriginStateFips', 'OriginState', 'OriginStateName', 'OriginWac',"Origin",'Dest',
       'DestAirportID', 'DestAirportSeqID', 'DestCityMarketID','DestCountry', 'DestStateFips', 'DestState', 'DestStateName', 'DestWac',
       'AirportGroup', 'WacGroup', 'TkCarrierChange', 'TkCarrierGroup',
       'OpCarrierChange', 'OpCarrierGroup','TkCarrier',
       'OpCarrier', 'MktDistanceGroup', 'MktMilesFlown', 'NonStopMiles', 'ItinGeoType',
       'MktGeoType', 'Unnamed: 41'],axis=1)

In [18]:
df=df.drop_duplicates()

In [19]:
df["route"].value_counts()
v = df["route"].value_counts()

In [20]:
df=df[df.route.isin(v.index[v.gt(10016)])]

In [21]:
df.shape

(862459, 10)

In [22]:
df["route"].value_counts()

LAX-SFO    48135
SFO-LAX    47627
LAX-MCO    40285
MCO-LAX    39668
MIA-LAX    27502
LAX-MIA    27500
SAN-SFO    26842
SFO-SAN    26638
LAX-FLL    24954
FLL-LAX    24915
MCO-SFO    22883
SNA-SFO    22663
SFO-SNA    22596
SFO-MCO    22480
MIA-SFO    21694
SFO-MIA    20963
LAX-TPA    19504
TPA-LAX    18832
LAX-SJC    18765
SJC-LAX    18481
FLL-SFO    17483
SFO-FLL    17385
SAN-MCO    16525
MCO-SAN    16380
LAX-SMF    14829
SMF-LAX    14567
SAN-SJC    14119
SJC-SAN    14084
SAN-SMF    13141
SMF-SAN    12944
SFO-TPA    12689
TPA-SFO    12451
BUR-SFO    12022
SFO-BUR    11942
LAX-OAK    11851
OAK-LAX    11601
MCO-SMF    11067
SJC-SNA    10955
SMF-MCO    10932
PSP-SFO    10706
SNA-SJC    10618
SFO-PSP    10563
SAN-TPA    10429
TPA-SAN    10140
FLL-SAN    10109
Name: route, dtype: int64

In [23]:
df.columns

Index(['MktCoupons', 'Year', 'Quarter', 'RPCarrier', 'BulkFare', 'Passengers',
       'MktFare', 'FareClass', 'Pandemic', 'route'],
      dtype='object')

In [24]:
df.shape

(862459, 10)

In [25]:
df

,MktCoupons,Year,Quarter,RPCarrier,BulkFare,Passengers,MktFare,FareClass,Pandemic,route
0,3,2018,1,AA,0.0,1.0,1338.27,NaN,0,LAX-FLL
1,3,2018,1,AA,0.0,1.0,1338.27,D,0,LAX-FLL
4,1,2018,1,AA,0.0,1.0,66.47,X,0,SMF-LAX
17,4,2018,1,AA,0.0,1.0,5.54,X,0,SFO-TPA
22,1,2018,1,AA,0.0,1.0,521.46,X,0,SFO-MIA
...,...,...,...,...,...,...,...,...,...,...
4611350,2,2020,3,YX,0.0,1.0,78.00,X,1,MIA-SFO
4611352,2,2020,3,YX,0.0,1.0,98.00,X,1,MIA-SFO
4611354,2,2020,3,YX,0.0,1.0,213.00,X,1,MIA-SFO
4611368,2,2020,3,YX,0.0,1.0,103.50,X,1,MIA-SFO
4611372,2,2020,3,YX,0.0,1.0,103.50,X,1,SFO-MIA

In [26]:
df = df.dropna()

In [27]:
df

,MktCoupons,Year,Quarter,RPCarrier,BulkFare,Passengers,MktFare,FareClass,Pandemic,route
1,3,2018,1,AA,0.0,1.0,1338.27,D,0,LAX-FLL
4,1,2018,1,AA,0.0,1.0,66.47,X,0,SMF-LAX
17,4,2018,1,AA,0.0,1.0,5.54,X,0,SFO-TPA
22,1,2018,1,AA,0.0,1.0,521.46,X,0,SFO-MIA
28,1,2018,1,AA,0.0,1.0,1651.23,D,0,MIA-LAX
...,...,...,...,...,...,...,...,...,...,...
4611350,2,2020,3,YX,0.0,1.0,78.00,X,1,MIA-SFO
4611352,2,2020,3,YX,0.0,1.0,98.00,X,1,MIA-SFO
4611354,2,2020,3,YX,0.0,1.0,213.00,X,1,MIA-SFO
4611368,2,2020,3,YX,0.0,1.0,103.50,X,1,MIA-SFO
4611372,2,2020,3,YX,0.0,1.0,103.50,X,1,SFO-MIA

In [28]:
def encode_and_bind(original_dataframe, feature_to_encode):
    dummies = pd.get_dummies(original_dataframe[[feature_to_encode]])
    res = pd.concat([original_dataframe, dummies], axis=1)
    return(res)

In [29]:
#s=pd.Series(list(df["RPCarrier"]))
#d=pd.get_dummies(s)
#df=pd.concat([df,d],axis=1)
#df=df.drop(["RPCarrier"],axis=1)
df=encode_and_bind(df,"RPCarrier")

In [30]:
df.shape

(831288, 31)

In [31]:
df

,MktCoupons,Year,Quarter,RPCarrier,BulkFare,Passengers,MktFare,FareClass,Pandemic,route,...,RPCarrier_NK,RPCarrier_OH,RPCarrier_OO,RPCarrier_QX,RPCarrier_SY,RPCarrier_UA,RPCarrier_VX,RPCarrier_WN,RPCarrier_YV,RPCarrier_YX
1,3,2018,1,AA,0.0,1.0,1338.27,D,0,LAX-FLL,...,0,0,0,0,0,0,0,0,0,0
4,1,2018,1,AA,0.0,1.0,66.47,X,0,SMF-LAX,...,0,0,0,0,0,0,0,0,0,0
17,4,2018,1,AA,0.0,1.0,5.54,X,0,SFO-TPA,...,0,0,0,0,0,0,0,0,0,0
22,1,2018,1,AA,0.0,1.0,521.46,X,0,SFO-MIA,...,0,0,0,0,0,0,0,0,0,0
28,1,2018,1,AA,0.0,1.0,1651.23,D,0,MIA-LAX,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4611350,2,2020,3,YX,0.0,1.0,78.00,X,1,MIA-SFO,...,0,0,0,0,0,0,0,0,0,1
4611352,2,2020,3,YX,0.0,1.0,98.00,X,1,MIA-SFO,...,0,0,0,0,0,0,0,0,0,1
4611354,2,2020,3,YX,0.0,1.0,213.00,X,1,MIA-SFO,...,0,0,0,0,0,0,0,0,0,1
4611368,2,2020,3,YX,0.0,1.0,103.50,X,1,MIA-SFO,...,0,0,0,0,0,0,0,0,0,1
4611372,2,2020,3,YX,0.0,1.0,103.50,X,1,SFO-MIA,...,0,0,0,0,0,0,0,0,0,1

In [32]:
df.columns

Index(['MktCoupons', 'Year', 'Quarter', 'RPCarrier', 'BulkFare', 'Passengers',
       'MktFare', 'FareClass', 'Pandemic', 'route', 'RPCarrier_9E',
       'RPCarrier_AA', 'RPCarrier_AS', 'RPCarrier_B6', 'RPCarrier_CP',
       'RPCarrier_DL', 'RPCarrier_EV', 'RPCarrier_F9', 'RPCarrier_G7',
       'RPCarrier_HA', 'RPCarrier_MQ', 'RPCarrier_NK', 'RPCarrier_OH',
       'RPCarrier_OO', 'RPCarrier_QX', 'RPCarrier_SY', 'RPCarrier_UA',
       'RPCarrier_VX', 'RPCarrier_WN', 'RPCarrier_YV', 'RPCarrier_YX'],
      dtype='object')

In [33]:
#s=pd.Series(list(df["route"]))#.isin(v.index[v.gt(10016)])))
#d=pd.get_dummies(s)
#df=pd.concat([df,d],axis=1)
#df=df.drop(["route",'Unnamed: 0.1.1'],axis=1)
df=encode_and_bind(df,"route")
df=df.drop(['RPCarrier'],axis=1)

In [34]:
df.columns

Index(['MktCoupons', 'Year', 'Quarter', 'BulkFare', 'Passengers', 'MktFare',
       'FareClass', 'Pandemic', 'route', 'RPCarrier_9E', 'RPCarrier_AA',
       'RPCarrier_AS', 'RPCarrier_B6', 'RPCarrier_CP', 'RPCarrier_DL',
       'RPCarrier_EV', 'RPCarrier_F9', 'RPCarrier_G7', 'RPCarrier_HA',
       'RPCarrier_MQ', 'RPCarrier_NK', 'RPCarrier_OH', 'RPCarrier_OO',
       'RPCarrier_QX', 'RPCarrier_SY', 'RPCarrier_UA', 'RPCarrier_VX',
       'RPCarrier_WN', 'RPCarrier_YV', 'RPCarrier_YX', 'route_BUR-SFO',
       'route_FLL-LAX', 'route_FLL-SAN', 'route_FLL-SFO', 'route_LAX-FLL',
       'route_LAX-MCO', 'route_LAX-MIA', 'route_LAX-OAK', 'route_LAX-SFO',
       'route_LAX-SJC', 'route_LAX-SMF', 'route_LAX-TPA', 'route_MCO-LAX',
       'route_MCO-SAN', 'route_MCO-SFO', 'route_MCO-SMF', 'route_MIA-LAX',
       'route_MIA-SFO', 'route_OAK-LAX', 'route_PSP-SFO', 'route_SAN-MCO',
       'route_SAN-SFO', 'route_SAN-SJC', 'route_SAN-SMF', 'route_SAN-TPA',
       'route_SFO-BUR', 'route_SFO-FLL', 'route_SFO-LAX', 'route_SFO-MCO',
       'route_SFO-MIA', 'route_SFO-PSP', 'route_SFO-SAN', 'route_SFO-SNA',
       'route_SFO-TPA', 'route_SJC-LAX', 'route_SJC-SAN', 'route_SJC-SNA',
       'route_SMF-LAX', 'route_SMF-MCO', 'route_SMF-SAN', 'route_SNA-SFO',
       'route_SNA-SJC', 'route_TPA-LAX', 'route_TPA-SAN', 'route_TPA-SFO'],
      dtype='object')

In [35]:
df

,MktCoupons,Year,Quarter,BulkFare,Passengers,MktFare,FareClass,Pandemic,route,RPCarrier_9E,...,route_SJC-SAN,route_SJC-SNA,route_SMF-LAX,route_SMF-MCO,route_SMF-SAN,route_SNA-SFO,route_SNA-SJC,route_TPA-LAX,route_TPA-SAN,route_TPA-SFO
1,3,2018,1,0.0,1.0,1338.27,D,0,LAX-FLL,0,...,0,0,0,0,0,0,0,0,0,0
4,1,2018,1,0.0,1.0,66.47,X,0,SMF-LAX,0,...,0,0,1,0,0,0,0,0,0,0
17,4,2018,1,0.0,1.0,5.54,X,0,SFO-TPA,0,...,0,0,0,0,0,0,0,0,0,0
22,1,2018,1,0.0,1.0,521.46,X,0,SFO-MIA,0,...,0,0,0,0,0,0,0,0,0,0
28,1,2018,1,0.0,1.0,1651.23,D,0,MIA-LAX,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4611350,2,2020,3,0.0,1.0,78.00,X,1,MIA-SFO,0,...,0,0,0,0,0,0,0,0,0,0
4611352,2,2020,3,0.0,1.0,98.00,X,1,MIA-SFO,0,...,0,0,0,0,0,0,0,0,0,0
4611354,2,2020,3,0.0,1.0,213.00,X,1,MIA-SFO,0,...,0,0,0,0,0,0,0,0,0,0
4611368,2,2020,3,0.0,1.0,103.50,X,1,MIA-SFO,0,...,0,0,0,0,0,0,0,0,0,0
4611372,2,2020,3,0.0,1.0,103.50,X,1,SFO-MIA,0,...,0,0,0,0,0,0,0,0,0,0

In [36]:
sub=pd.read_csv("../input/calfl-reverse-as-well-non-sparce/L_FARE_CLASS.csv_")

In [37]:
sub

  Code                  Description
0    -               Ground Segment
1    C  Unrestricted Business Class
2    D    Restricted Business Class
3    F     Unrestricted First Class
4    G       Restricted First Class
5    U                      Unknown
6    X       Restricted Coach Class
7    Y     Unrestricted Coach Class

In [38]:
df["FareClass"]=df["FareClass"].map({"C":"Unrestricted Business Class","D":"Restricted Business Class",
                                     "F":"Unrestricted First Class","G":"Restricted First Class",
                                     "X":"Restricted Coach Class","Y":"Unrestricted Coach Class",
                                     "U":"Others"})

In [39]:
df

,MktCoupons,Year,Quarter,BulkFare,Passengers,MktFare,FareClass,Pandemic,route,RPCarrier_9E,...,route_SJC-SAN,route_SJC-SNA,route_SMF-LAX,route_SMF-MCO,route_SMF-SAN,route_SNA-SFO,route_SNA-SJC,route_TPA-LAX,route_TPA-SAN,route_TPA-SFO
1,3,2018,1,0.0,1.0,1338.27,Restricted Business Class,0,LAX-FLL,0,...,0,0,0,0,0,0,0,0,0,0
4,1,2018,1,0.0,1.0,66.47,Restricted Coach Class,0,SMF-LAX,0,...,0,0,1,0,0,0,0,0,0,0
17,4,2018,1,0.0,1.0,5.54,Restricted Coach Class,0,SFO-TPA,0,...,0,0,0,0,0,0,0,0,0,0
22,1,2018,1,0.0,1.0,521.46,Restricted Coach Class,0,SFO-MIA,0,...,0,0,0,0,0,0,0,0,0,0
28,1,2018,1,0.0,1.0,1651.23,Restricted Business Class,0,MIA-LAX,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4611350,2,2020,3,0.0,1.0,78.00,Restricted Coach Class,1,MIA-SFO,0,...,0,0,0,0,0,0,0,0,0,0
4611352,2,2020,3,0.0,1.0,98.00,Restricted Coach Class,1,MIA-SFO,0,...,0,0,0,0,0,0,0,0,0,0
4611354,2,2020,3,0.0,1.0,213.00,Restricted Coach Class,1,MIA-SFO,0,...,0,0,0,0,0,0,0,0,0,0
4611368,2,2020,3,0.0,1.0,103.50,Restricted Coach Class,1,MIA-SFO,0,...,0,0,0,0,0,0,0,0,0,0
4611372,2,2020,3,0.0,1.0,103.50,Restricted Coach Class,1,SFO-MIA,0,...,0,0,0,0,0,0,0,0,0,0

In [40]:
df=encode_and_bind(df,"FareClass")
df=df.drop(["FareClass"],axis=1)

In [41]:
df

,MktCoupons,Year,Quarter,BulkFare,Passengers,MktFare,Pandemic,route,RPCarrier_9E,RPCarrier_AA,...,route_TPA-LAX,route_TPA-SAN,route_TPA-SFO,FareClass_Others,FareClass_Restricted Business Class,FareClass_Restricted Coach Class,FareClass_Restricted First Class,FareClass_Unrestricted Business Class,FareClass_Unrestricted Coach Class,FareClass_Unrestricted First Class
1,3,2018,1,0.0,1.0,1338.27,0,LAX-FLL,0,1,...,0,0,0,0,1,0,0,0,0,0
4,1,2018,1,0.0,1.0,66.47,0,SMF-LAX,0,1,...,0,0,0,0,0,1,0,0,0,0
17,4,2018,1,0.0,1.0,5.54,0,SFO-TPA,0,1,...,0,0,0,0,0,1,0,0,0,0
22,1,2018,1,0.0,1.0,521.46,0,SFO-MIA,0,1,...,0,0,0,0,0,1,0,0,0,0
28,1,2018,1,0.0,1.0,1651.23,0,MIA-LAX,0,1,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4611350,2,2020,3,0.0,1.0,78.00,1,MIA-SFO,0,0,...,0,0,0,0,0,1,0,0,0,0
4611352,2,2020,3,0.0,1.0,98.00,1,MIA-SFO,0,0,...,0,0,0,0,0,1,0,0,0,0
4611354,2,2020,3,0.0,1.0,213.00,1,MIA-SFO,0,0,...,0,0,0,0,0,1,0,0,0,0
4611368,2,2020,3,0.0,1.0,103.50,1,MIA-SFO,0,0,...,0,0,0,0,0,1,0,0,0,0
4611372,2,2020,3,0.0,1.0,103.50,1,SFO-MIA,0,0,...,0,0,0,0,0,1,0,0,0,0

In [42]:
df.shape

(831288, 81)

In [43]:
df.columns

Index(['MktCoupons', 'Year', 'Quarter', 'BulkFare', 'Passengers', 'MktFare',
       'Pandemic', 'route', 'RPCarrier_9E', 'RPCarrier_AA', 'RPCarrier_AS',
       'RPCarrier_B6', 'RPCarrier_CP', 'RPCarrier_DL', 'RPCarrier_EV',
       'RPCarrier_F9', 'RPCarrier_G7', 'RPCarrier_HA', 'RPCarrier_MQ',
       'RPCarrier_NK', 'RPCarrier_OH', 'RPCarrier_OO', 'RPCarrier_QX',
       'RPCarrier_SY', 'RPCarrier_UA', 'RPCarrier_VX', 'RPCarrier_WN',
       'RPCarrier_YV', 'RPCarrier_YX', 'route_BUR-SFO', 'route_FLL-LAX',
       'route_FLL-SAN', 'route_FLL-SFO', 'route_LAX-FLL', 'route_LAX-MCO',
       'route_LAX-MIA', 'route_LAX-OAK', 'route_LAX-SFO', 'route_LAX-SJC',
       'route_LAX-SMF', 'route_LAX-TPA', 'route_MCO-LAX', 'route_MCO-SAN',
       'route_MCO-SFO', 'route_MCO-SMF', 'route_MIA-LAX', 'route_MIA-SFO',
       'route_OAK-LAX', 'route_PSP-SFO', 'route_SAN-MCO', 'route_SAN-SFO',
       'route_SAN-SJC', 'route_SAN-SMF', 'route_SAN-TPA', 'route_SFO-BUR',
       'route_SFO-FLL', 'route_SFO-LAX', 'route_SFO-MCO', 'route_SFO-MIA',
       'route_SFO-PSP', 'route_SFO-SAN', 'route_SFO-SNA', 'route_SFO-TPA',
       'route_SJC-LAX', 'route_SJC-SAN', 'route_SJC-SNA', 'route_SMF-LAX',
       'route_SMF-MCO', 'route_SMF-SAN', 'route_SNA-SFO', 'route_SNA-SJC',
       'route_TPA-LAX', 'route_TPA-SAN', 'route_TPA-SFO', 'FareClass_Others',
       'FareClass_Restricted Business Class',
       'FareClass_Restricted Coach Class', 'FareClass_Restricted First Class',
       'FareClass_Unrestricted Business Class',
       'FareClass_Unrestricted Coach Class',
       'FareClass_Unrestricted First Class'],
      dtype='object')

In [44]:
a = df['route'].unique()

In [45]:
grps=df.groupby('route')

In [46]:
for i in a:
    df2=grps.get_group(i)
    print(i," ",df2.shape)
    df2.to_csv(i+"-verWFC.csv")

LAX-FLL   (24378, 81)
SMF-LAX   (14029, 81)
SFO-TPA   (12300, 81)
SFO-MIA   (19131, 81)
MIA-LAX   (25887, 81)
MCO-LAX   (38976, 81)
MIA-SFO   (19880, 81)
LAX-MIA   (25906, 81)
SJC-SAN   (13685, 81)
PSP-SFO   (10495, 81)
SFO-PSP   (10351, 81)
SNA-SJC   (10180, 81)
MCO-SAN   (16188, 81)
MCO-SMF   (10926, 81)
FLL-SAN   (9928, 81)
SAN-MCO   (16339, 81)
SAN-TPA   (10308, 81)
TPA-SAN   (10013, 81)
SAN-SFO   (25252, 81)
SFO-SAN   (25034, 81)
SAN-SJC   (13713, 81)
SAN-SMF   (12434, 81)
SMF-SAN   (12229, 81)
SFO-LAX   (45906, 81)
SFO-FLL   (16720, 81)
FLL-SFO   (16810, 81)
SFO-MCO   (21819, 81)
MCO-SFO   (22209, 81)
TPA-SFO   (12075, 81)
LAX-SFO   (46379, 81)
SFO-SNA   (21449, 81)
TPA-LAX   (18544, 81)
SJC-SNA   (10515, 81)
SMF-MCO   (10793, 81)
FLL-LAX   (24332, 81)
LAX-MCO   (39598, 81)
LAX-TPA   (19197, 81)
SJC-LAX   (18130, 81)
LAX-SMF   (14307, 81)
LAX-OAK   (11158, 81)
LAX-SJC   (18419, 81)
SFO-BUR   (11437, 81)
BUR-SFO   (11505, 81)
OAK-LAX   (10894, 81)
SNA-SFO   (21530, 81)